
 <!--SVG-->
 <div align="center" *ngIf="_infoservice.cargada">
  <h2>Loading...</h2>
  <div class="loader loader--style1" title="0">
    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
      s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
      c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
      C22.32,8.481,24.301,9.057,26.013,10.047z">
      <animateTransform attributeType="xml"
        attributeName="transform"
        type="rotate"
        from="0 20 20"
        to="360 20 20"
        dur="0.5s"
        repeatCount="indefinite"/>
      </path>
    </svg>
  </div>

  <p>Wait Please...</p>
</div>
<!--SVG-->

<div *ngIf="!_infoservice.cargada" class="ae-grid au-xs-ta-center au-mb-4">
  
      <div  *ngFor="let person of _infoservice.equipo" class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="person.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{person.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{person.subtitulo}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{person.frase}}</p>
        <a target="_blank" href="https://twitter.com/{{person.twitter}}" class="ae-u-bolder au-underline">{{person.twitter}}</a>
      </div>

    </div>
    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Portafolio de Productos</h4>
        <p>Si no encuentras lo que estas buscando aquí, entonces ¿estás buscando correctamente?</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="">
        <h6 class="ae-u-boldest">About Us</h6>
        <p class="au-lh-3">Somos un equipo capaz de llevar a cabo cualquier proyecto de desarrollo. Para llegar al exito hay que ser perseverante y autodidacta, tenemos todos los recursos disponibles para llegar al éxito. No hace falta ser un experto, para ser un gran artista.</p>
      </div>
      <div class="">
        <h6 class="ae-u-boldest">Our Mission</h6>
        <p class="au-lh-3">Ser los mejores en la ingenieria de software, en networking y ciberseguridad. Generar sistemas de calidad para nuestros clientes de Tucumán, y en un futuro expandirnos internacionalmente.</p>
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>
